/* this needs to take up the entire  */

/* .container {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
} */



.diceImageContainer {
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  padding: 10px;
}

.diceImageContainer > p {
  padding-top: 10px; 
  margin: 0; 
}


/* All of this has to do with styling my brightness range slider for different browsers */
/* General styling for the range input */

/* For Edge and other browsers that show the range value */

/* General styling for the range input */
#brightness {
  -webkit-appearance: none; /* Override default appearance */
  width: auto;
  height: 8px;
  background: #ddd;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;

}

/* WebKit browsers (Chrome, Safari, Edge) */
#brightness::-webkit-slider-runnable-track {
  width: 100px;
  height: 8px;
  cursor: pointer;
  background: #ffcc00;
  border-radius: 5px;
}

#brightness::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: -6px; /* Centers the thumb on the track */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Added shadow */
}

/* Mozilla browsers (Firefox) */
#brightness::-moz-range-track {
  width: 100px;
  height: 8px;
  cursor: pointer;
  background: #ffcc00;
  border-radius: 5px;
}

#brightness::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Added shadow */
}

/* Internet Explorer */
#brightness::-ms-track {
  width: 100px;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#brightness::-ms-fill-lower {
  background: #ffcc00;
  border-radius: 5px;
}

#brightness::-ms-fill-upper {
  background: #ffcc00;
  border-radius: 5px;
}

#brightness::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: -6px; /* Centers the thumb on the track */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Added shadow */
}

/* Hide the default value tooltip in Edge and other browsers */
input[type="range"]::-ms-tooltip {
  display: none;
}

/* This is for the trim container, input boxes etc. */ 
#trimDivContainer{
  display: flex; 
  flex-direction: row; 
}

#trimDivContainer > input{
  padding: 5px;
  margin: 0px 0;
  border-radius: 5px;
  width: 40px;
  background-color: #ffcc00;
  outline: none; 
  border: none; 
  margin-right: 10px; 
}

#trimDivContainer > label{
  margin-left: 10px; 
}
.trimAlignment {
  display: flex;
  flex-direction: row; /* Ensures label and input are aligned horizontally */
  align-items: center; /* Vertically centers the content */
  margin-right: 20px; /* Adds space between each pair of label and input */
}

#trimDivContainer > .trimAlignment {
  margin-bottom: 10px; /* Adds space between each trim control group */
}

#trimDivContainer label {
  margin-right: 10px; /* Adds space between label and input */
}

#trimDivContainer input {
  flex: 1; /* Allows the input to take up available space, if needed */
}











 .images-container {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  justify-content: center; /* Center the items within the container */
  gap: 2rem; /* Adjust the gap between items (1rem is an example) */
}

 /** Website Title **/

#title{
  margin: 10px; 
  margin-top: 10px; 
  font-size: 100px; 
  font-family: 'Dancing Script', 'Brush Script MT', cursive;
}








.imageDiv img{
  max-width: 200px; /* 50% of the viewport width */
  height: auto; /* Automatically adjusts height to maintain aspect ratio */
}

#diceSizeSetter{
  width: 200px;
  margin: 0px; 
  padding: 0px;
  font-family: 'Arial', sans-serif; 
  color: #1a1a1a;
  background-color: #ffcc00;
  border: 2px solid #ffcc00;
  border-radius: 8px;
  text-align: center;
}

#diceSizeSetterContainer{
  margin: 30px;
  padding-bottom: 20px;
  /* margin-bottom: 100px;  */
}




.s::placeholder {
  color: #666;
}

.styled-input:focus {
  outline: none;
  border-color: #ffaa00; 
  box-shadow: 0 0 12px rgba(255, 170, 0, 0.8);
}



/** --------------------------------------------------- Image Uploader controls --------------------------------------------------- */

#imageControls {
  text-align: center;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center; /* Ensures child elements stretch to fill the width */
}

#imageControls > div {
  padding: 0px; 
  width: 400px; 
  display: flex; 
  flex-direction: row;
  align-items: stretch; /* Ensures child elements stretch to fill the width */
  gap: 10px; /* Adjust the gap between each div */
}

#imageControls > div > * {
  margin: 0; /* Remove default margins for elements */
  width: 100%; /* Ensures elements stretch to fill the width of their container */
}



/* This is for the increase and decrease dice size buttons */
#imageControls button {
  background-color: #ffcc00;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;
}



#imageControls button:hover {
  background-color: #d2a802;
}

#imageControls label {
  display: block;
  margin: 10px 0;
  
}

#imageControls input[type="number"] {
  padding: 5px;
  margin: 0px 0;
  border-radius: 5px;
  width: 40px;
  background-color: #ffcc00;
  outline: none; 
  border: none; 
  /* border: 2px solid black;  */
}

/* #imageControls input[type="number"]:focus {
  padding: 5px;
  margin: 0px 0;
  border-radius: 5px;
  width: 50px;
  background-color: #ffcc00;
  border: #000000; 
} */

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  background-color: #ddd;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.radio-group input[type="radio"]:checked + label {
  background-color: #4CAF50;
  color: white;
}

.radio-group label:hover {
  background-color: #ccc;
}

#imageControls p {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}



#diceSizeSetter::placeholder {
  color: #666;
}


#diceSizeSetter:focus {
  outline: none;
  /* box-shadow: 0 0 12px rgba(255, 170, 0, 0.8); */
}


/** For the new radio buttons image: */ 


/* Hide the default radio button */
.radio-input {
  display: none;
}

/* Style the label to display your custom images */
.radio-label {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}

/* Style for the images */
.radio-image {
  width: 50px;  /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  transition: transform 0.2s;
  border-radius: 8px; /* Optional: to give dice a rounded look */
}

/* Change the image appearance when the radio button is checked */
.radio-input:checked + .radio-label .radio-image {
  transform: scale(1.2); /* Example effect */
  border: 2px solid #ffaa00; /* Example border color */
}



/** --------------------------------------------------- Upload Image Button --------------------------------------------------- */

#imageInput{
  width: 200px; 
  color: red; 
}



/* Styles for the upload button container */
.uploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Styles for the label acting as the button */
.imageInputButton {
  display: inline-block;
  padding: 20px 40px;
  margin: 20px; 
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: 2px solid #555;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.imageInputButton:hover {
  background-color: #555;
  border-color: #777;
}

/* Hide the actual file input */
#imageInput {
  display: none;
}

/* Dice-themed styles */
.uploadContainer {
  background-color: #282c34; /* Dark background */
}

.imageInputButton {
  background-color: #2a2a2a;
  border: 2px solid #fff;
  color: #fff;
}

.imageInputButton:hover {
  background-color: #1a1a1a;
  color: #ffcc00; /* Dice-themed yellow */
  border-color: #ffcc00; /* Dice-themed yellow */
}


/* For generating a png - The PNG generate button */

#generatePNG{
  margin: 10px;
  border-radius: 10px; 
}

#toggle-controls{
  border-radius: 10px; 
  margin: 5px; 
}



/* -------------------------------------------------- styling -------------------------------------------------- */

/* Navbar container */
.navbar {
  position: fixed;
  top: 0;
  left: 0; /* Ensure it starts at the left edge */
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.3s;
  z-index: 1000;
  box-sizing: border-box; /* Ensure padding is included in the width */
  overflow: hidden; /* Prevents overflow issues */
}

/* Navbar logo */
.navbar-logo {
  width: 50px;
  height: 50px;
  margin-left: 10px; /* Adjust margin as needed */
}

/* Navbar links container */
.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 10px; /* Adjust margin as needed */
}

/* Navbar links */
.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

/* Navbar links hover and active states */
.nav-links a:hover, .nav-links a.active {
  background-color: #575757;
  border-bottom: 2px solid #ffaa00;
}

/* Burger menu */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

/* Burger menu bars */
.burger-bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

/* Hide and show effects */
.navbar-hide {
  top: -80px; /* Adjust based on your navbar height */
}

.navbar-show {
  top: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links.nav-links-mobile {
    display: flex;
  }

  .burger-menu {
    display: flex;
    margin-right: 10px; /* Adjust margin as needed */
  }
}


html {
  scroll-behavior: smooth;
}

#logoAndNameNavbar{
  display: flex; 
  flex-direction: vertical; 
}

#logoAndNameNavbar > p {
  margin-left: 10px; 
  font-weight: bold;
}

/** --------------------------------------------------- mosaicContainerStyling --------------------------------------------------- */

#diceMosaicContainer{
height:  auto; 
}

#generatorContainer{
  background-color: rgb(210, 210, 210);
  /* padding-top: 20px;  */
  color: black; 
}

/** --------------------------------------------------- mainParagraph and hoome text styling --------------------------------------------------- */


#mainParagraph {
  width: 600px; 
  display: inline-block; 

}


/* 
#homePageText {
  font-family: Georgia, 'Times New Roman', Times, serif;
} */

/** --------------------------------------------------- About section styling --------------------------------------------------- */


/* styling.css */

/* Styling for the overall About component */

#aboutBackground{
  /* padding: 100px;  */
  padding-top: 10px;
  background-color: rgb(115, 115, 115);
}


#About {
  padding: 20px; /* Adjust padding as needed */
  width: 90%; 
  display: inline-block; 
}

/* For the search container */
/* src/styling.css */

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-container input[type="text"] {
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 16px;
  width: 300px;
  transition: border-color 0.3s ease;
}

.search-container input[type="text"]:focus {
  border-color: #007bff;
}

.search-container button {
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 0 4px 4px 0;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-container button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}


#aboutDivs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Media query to change to column layout on smaller screens */
@media (max-width: 768px) { /* Adjust the max-width to your preference */
  #aboutDivs {
    flex-direction: column;
    justify-content: center; /* Align items vertically when in column mode */
  }

}



#Features .mainText {
  font-size: 25px;
  font-weight: bold;
  color: #ffcc00;
  text-shadow:
    -1px -1px 0 black,  /* Top-left shadow */
    1px -1px 0 black,   /* Top-right shadow */
    -1px 1px 0 black,   /* Bottom-left shadow */
    1px 1px 0 black;    /* Bottom-right shadow */  width: 80%; /* Default width for larger screens */
  margin: 0 auto; /* Center the text */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #Features .mainText {
    width: 100%; /* Full width for smaller screens */
  }
}

#CreatingTheArt .mainText {
  font-size: 20px;
  font-weight: bold; 
  color: #ffcc00; 

}

/* Styling for the Features section */
#Features {
  /* background-color: #f2f2f2; */
  padding-bottom: 30px; /* Space between sections */
  border-bottom: 1px solid black;
  width: 60%;
  /* border-radius: 20px; */
}

#Features h1 {
  font-size: 100px; /* Larger font size for main headings */
  color: black; /* Dark text color */
  border-bottom: 1px solid black; /* Line under heading */
  padding-bottom: 8px; /* Space below heading */
  margin-bottom: 16px; /* Space below heading */
  font-family: 'Dancing Script', 'Brush Script MT', cursive;
}

#Features h3 {
  font-size: 30px; /* Larger font size for subheadings */
  color: black; /* Slightly darker text color */
  margin-top: 14px; /* Space above each subheading */
  /* font-family: 'Georgia', sans-serif; Example of setting a font-family */
}

#Features h3:hover {
  transform: scale(1.2); /* Scale up by 10% on hover */
}

#Features p {
  font-size: 16px; /* Regular font size for paragraphs */
  color: rgb(225, 225, 225); /* Gray text color */
  line-height: 1.6; /* Line height for readability */
  margin-bottom: 16px; /* Space below each paragraph */
}

#Features > div{
  padding: 10px 0px; 
}



/* Styling for the CreatingTheArt section */
#CreatingTheArt {
  background-color: #e0e0e0; /* Lighter gray background */
  padding: 20px;
  border-bottom: 2px solid #ccc; /* Line below section */
  border-radius: 20px;

}

#CreatingTheArt h1 {
  font-size: 28px; /* Larger font size for main headings */
  color: #333; /* Dark text color */
  border-bottom: 1px solid #999; /* Line under heading */
  padding-bottom: 8px; /* Space below heading */
  margin-bottom: 16px; /* Space below heading */
  font-family: 'Arial', sans-serif; /* Example of setting a font-family */
}

#CreatingTheArt p {
  font-size: 16px; /* Regular font size for paragraphs */
  color: #666; /* Gray text color */
  line-height: 1.6; /* Line height for readability */
  margin-bottom: 16px; /* Space below each paragraph */
}


/* styling for accordian faq*/


#faq > h2{
  color: black;
}


/* src/components/Accordion.css */
.accordion {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  width: 400px; 

}

.accordion-item {

  border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-title {
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: #e2c835;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}

.accordion-content {
  padding: 10px;
  background-color: #313131;
}







/** -------------------------------- Donation link -------------------------------- */


/* styling.css */

/* styling.css */

/* Styling for the support message and link */
#support-message {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#support-message a {
  display: inline-block;
  padding: 6px 12px;
  background-color: #ffcc00;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

#support-message a:hover {
  background-color: #e6b800;
}

#donationDiv{
  padding: 100px; 
  background-color: rgb(52, 52, 52);
}



/** -------------------------------- preset images -------------------------------- */

.preset-images {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px; 
  margin-top: 30px; 
  margin-bottom: 100px;
}

.preset-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 5px; 
}

.preset-thumbnail:hover {
  transform: scale(1.1);
}


/** -------------------------------- shop  -------------------------------- */

#shop {
  width: 70%; 
  display: inline-block; 
  margin-bottom: 100px; 
}

#shopTitle {
  border-bottom: 1px solid white;
  font-family: 'Dancing Script', 'Brush Script MT', cursive;
  font-size: 100px; 
}

/* --------------------------------------- Shop Affiliate Links ----------------------------------- */

#shop > div {
  width: 100%; 
  display: flex; 
  height: auto; 
  align-items: center; /* Center the items vertically */
  margin-top: 50px; 
}

#shop > div > img {
  width: 200px; 
  height: 100%; 
  border-radius: 5px; 
}

#shop > div > div {
  margin-left: 50px; 
  margin-right: 50px; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
}

#shop > div > div > p {
  margin: 0; /* Remove default margin from paragraphs */
  font-size: 30px; 
}

#shop > div > a {
  width: 100%; 
  height: 300px; 
  font-size: 20px; 
}






/** -------------------------------- data-aos manipulation  -------------------------------- */

.aos-animate[data-aos="fade-right"] {
  transform: translate3d(100px, 0, 0); /* Adjust the value as needed */
}

.aos-init[data-aos="fade-right"] {
  opacity: 0;
  transform: translate3d(-300px, 0, 0); /* Initial position, adjust the value as needed */
}

.aos-animate[data-aos="fade-left"] {
  transform: translate3d(100px, 0, 0); /* Adjust the value as needed */
}

.aos-init[data-aos="fade-left"] {
  opacity: 0;
  transform: translate3d(300px, 0, 0); /* Initial position, adjust the value as needed */
}


/* --------------------------- Carousal wheel -------------------------- */ 


@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';



#carouselTitle{
  color: #ffcc00; 
  margin: 10px; 
  margin-top: 10px; 
  font-size: 100px; 
  font-family: 'Dancing Script', 'Brush Script MT', cursive;
  background-color: rgb(100, 100, 100);

}

#ideaContainer{
  background-color: rgb(100, 100, 100);
  margin-top: none; 
}


/* ScrollWheel.css */
.scroll-wheel {
  width: 80%;
  margin: 0px auto;

  height: 100%; 
  align-content: center; 
} 

.slick-slider{
  height: 100%; 
  /* padding: 10%;  */
  padding-top: 20px; 
}

.scroll-wheel-item {
  text-align: center;
  display: flex; 
  flex-direction: horizontal; 
}

.scroll-wheel-item img {
  display: inline-block; 
  width: 100%;
  max-width: 250px;
  height: 250px; 
  border-radius: 5px; 
}

.scroll-wheel-item > h3 > a {
  display: block; /* Makes the anchor tag occupy the full width of its container */
  text-decoration: none; /* Removes the default underline from links */
  color: #000; /* Sets the text color to black */
  background-color: #f5f5f5; /* Sets a light grey background color */
  padding: 10px 15px; /* Adds padding inside the link for better spacing */
  border-radius: 5px; /* Rounds the corners of the link */
  transition: background-color 0.3s, color 0.3s; /* Adds a smooth transition effect for hover states */
  
}

.scroll-wheel-item > h3 >  a:hover {
  background-color: #ddd; /* Changes the background color on hover */
  color: #333; /* Changes the text color on hover */
}

.scroll-wheel-item > h3 > a:focus {
  outline: 2px solid #0056b3; /* Adds a border outline when the link is focused (for accessibility) */
  outline-offset: 2px; /* Adds space between the border and the link text */
}


.scroll-wheel-item h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #333;
  width: 80%; 
  display: inline-block; 
}

#scrollWheelContainer{
  width: 100%; 
  height: 400px; 
}


/* --------------------------- HowTo -------------------------- */ 

#parent-how-to-container {
  background-color: rgb(55, 55, 55);
  padding-bottom: 30px; 

  /* margin: 100px 0px;  */
}

/* for the title */
#parent-how-to-container > h1 {
  margin: 10px; 
  font-size: 100px; 
  font-family: 'Dancing Script', 'Brush Script MT', cursive;
}

.how-to-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  height: auto; 
  /* padding: 20px; Padding around the container */
  /* box-sizing: border-box; */
}

.item {
  text-align: center;
  width: 80%; 
}

/* video titles */
.item > h2 {
  color: #ffcc00;
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: Add some styling to the videos */
  transition: opacity 0.3s ease-in-out;

}

.video.playing {
  opacity: 1;
  filter: none;
}

.video.greyed-out {
  opacity: 0.3;
  filter: grayscale(100%);
}

/* --------------------------- Generator Controls -------------------------- 
Note! There may be some underlying things here that are being interfered by in the above script!
*/ 

#chosenPhoto{
  width: 200px; 
  height: auto; 
}

/* Sidebar container */
#sidebar {
  position: absolute; /* Position absolute to keep it inside its parent */
  width: 200px; /* Fixed width for the sidebar */
  height: 70%; /* Full height of the parent container */
  background-color: #333;
  color: white;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 999; /* Ensure it stays above other content */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* When the sidebar is open */
#sidebar.open {
  transform: translateX(0);
}

/* Other styles remain the same */
#imageControls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


#imageControls div {
  display: flex;
  flex-direction: column;
  width: auto; 
  gap: 10px;
}

#sidebar > div > #diceColourTypes {
  display: flex; 
  flex-direction: row; 
}

.radio-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.radio-input {
  display: none;
}

.radio-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border: 2px solid transparent;
}

.radio-input:checked + .radio-label .radio-image {
  border-color: #ffcc00;
}

/* #trimDivContainer {
  display: flex;
  flex-direction: row;
} */

label {
  font-size: 14px;
}

button {
  background-color: #ffcc00;
  border: none;
  padding: 10px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffaa00;
}


/* --------------------------- Product List styling -------------------------- */ 
#bringToLife{
  margin: 10px; 
  margin-top: 100px; 
  font-size: 100px; 
  font-family: 'Dancing Script', 'Brush Script MT', cursive;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Dynamic columns */
  gap: 20px;
}

@media (min-width: 960px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr); /* Maximum 3 columns */
  }
}

.product-item {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
}

.product-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.product-variants {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns items at the bottom of the container */
}

.product-description {
  max-height: 200px; /* Set an appropriate height */
  text-overflow: ellipsis; /* Optional: Add ellipsis for overflow text */
}



.addToCartButton{
  width: 100%; 
  margin-top: 20px; 
  border-radius: 10px 
}

.product-variants input {
  padding: 2px; /* Adds space inside the input field for a comfortable feel */
  border: 2px solid #ddd; /* Light border for a clean look */
  border-radius: 4px; /* Rounded corners for a softer appearance */
  font-size: 16px; /* Adequate font size for readability */
  width: 100%; /* Ensures the input takes full width of its container */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  margin-top: 5px; /* Adds space above the input */
  transition: border-color 0.3s ease; /* Smooth transition for border color on focus */
}

.product-variants select {
  padding: 2px; /* Adds space inside the input field for a comfortable feel */
  border: 2px solid #ddd; /* Light border for a clean look */
  border-radius: 4px; /* Rounded corners for a softer appearance */
  font-size: 16px; /* Adequate font size for readability */
  width: 100%; /* Ensures the input takes full width of its container */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  margin-top: 5px; /* Adds space above the input */
  transition: border-color 0.3s ease; /* Smooth transition for border color on focus */
}


.product-variants input:focus {
  border-color: #ffd000; /* Changes border color when the input is focused */
  outline: none; /* Removes the default outline to rely on the border color */
  box-shadow: 0 0 5px rgba(216, 116, 9, 0.5); /* Adds a subtle glow effect on focus */
}

.product-variants input::placeholder {
  color: #999; /* Lighter color for the placeholder text */
  font-style: italic; /* Makes the placeholder text italic for differentiation */
}

.product-variants select:focus {
  border-color: #ffd000; /* Changes border color when the input is focused */
  outline: none; /* Removes the default outline to rely on the border color */
  box-shadow: 0 0 5px rgba(216, 116, 9, 0.5); /* Adds a subtle glow effect on focus */
}



.product-variant button {
  margin-top: 5px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-variant button:hover {
  background-color: #0056b3;
}

.product-item > img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}


/* Carousel for images in each product */ 

/* .carousel-container {
  position: relative;
  width: 200px; 
  height: 200px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

img {
  transition: opacity 0.5s ease;
}

 */

/* --------------------------- Shopping Cart styling -------------------------- */ 

/* src/components/Cart.css */
.cart-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item span {
  flex: 1;
}

.cart-item button {
  padding: 5px 10px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #ff4c4c;
}

.cart-summary {
  text-align: right;
}

.cart-summary h3 {
  margin: 10px 0;
  font-weight: normal;
}

.checkout-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #45a049;
}


/* For the cart icon */ 

/* src/styling.css */
.cart-icon {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: rgb(255, 255, 255);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.cart-icon .shopping-cart-icon {
  font-size: 24px;
  width: 20px; 
  height: 20px; 
}

.cart-icon .item-count {
  margin-left: 2px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
  text-decoration: none; 
}


/* Shipping info*/ 


.shipping-section {
  margin-top: 20px;
}

.shipping-description {
  margin-top: 5px;
  font-size: 0.9em;
}

#country-select {
  margin-top: 10px;
  padding: 5px;
  font-size: 1em;
  color: grey;
}

.shipping-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  color: grey;
}

.shipping-description{
  color: grey; 
}

.shipping-table th, 
.shipping-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.shipping-table th {
  background-color: #f8f8f8;
}

.shipping-table td {
  font-size: 0.9em;
}